.error {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    flex-direction: column;

    &__image {
        width: 500px;
    }
}
